---
layout: archive
permalink: /year-archive/
title: "Data & Daydreams"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

Random thoughts I'm trying to think through more completely. Writing them down forces me to articulate my reasoning from start to finish, which stress-tests whether the ideas actually hold up. This is low stakes, mostly just for fun and curiosity.

{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
